/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}
input, 
textarea,
button{
	outline: none;
	border:none;
}
button {
	cursor: pointer;
	border: none;
	padding: 0;
	outline: none;
}
textarea{
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote {
	margin: 0;
}

/* ===== Reset end ===== */
/* ===== Default classes start */
/* 
	text color, text align, float, backgrounds colors, text transform
*/
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.bg-black {
	background-color: #111;
}
.bg-grey {
	background-color: #f8f8f8;
}
.m-auto{
	float: none;
	margin: 0 auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
/* ===== Default classes end */
/* ===== Default component start ===== */
/* 
	Buttons, text, title, section, small-section header, footer,
	form elements, icons, tabs, blockquote, container 
*/
.default-section {
	padding: 135px 0;
}
@media(max-width: 767px){
	.default-section{
		padding: 75px 0;
	}
}
@media(max-width: 576px){
	.default-section{
		padding: 50px 0;
	}
}
.small-section {
	padding: 70px 0;
}
@media(max-width: 576px){
	.small-section{
		padding: 35px 0;
	}
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}

.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em; /* 0.5em = .5em */
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}
@media(max-width: 767px){
	.title.section-title{
		margin-bottom: 50px;
	}
}
@media(max-width: 576px){
	.title.section-title{
		line-height: 1.5;

	}
	.title.section-title-light{
		line-height: 1.5;
	}
	
}
.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}
blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span, 
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
@media(max-width: 991px){
	blockquote{
		margin-bottom: 20px;
	}
}
@media(max-width: 767px){
	blockquote{
		margin-bottom: 0;
		font-size: 19px;
	}
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans';
	letter-spacing: .2em;
}
.btn[disabled]{
	cursor: not-allowed;
	opacity: .6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-default:hover {
	background-color: #d1d0d0;
}
.btn.btn-black {
	background-color: #323232;
	color: #fff;
}
.btn.btn-black:hover {
	background-color: #000;
}
.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
}
.form-control:focus{
	border-color: #111;
}
.form-control.error{
	border-color: #f57e7e;
}
textarea.form-control{
	min-height: 90px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled {
	cursor: not-allowed;
	opacity: .6;
}
.form-info{
	font-size: 11px;
	color:#aaa;
	font-weight: 400;
}
.form-info .fa{
	font-size: 12px;
}
.header{
	position: absolute;
	/* overflow: hidden; */
	width: 100%;
	top: 0;
	z-index: 99;
	padding: 25px 0;
	transition: background-color .4s ease;
}
.header.slick-nav-opened{	
	background-color: rgba(0,0,0,.9);
}
.header.shown-fixed{
	background-color: #000;
}
.header .logo{
	float: left;
}
.header .header-nav{
	float: right;
}
.header .header-nav li{
	float: left;
	line-height: 21px;
	color:rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .3em;
	font-weight: 400;
}
.header .header-nav li + li{
	margin-left: 35px;
}
.slicknav_menu{
	display: none;
}
@media(max-width: 767px){
	.header{
		max-height: 73px;
	}
	.slicknav_menu{
		display: block;
	}
	.header-nav{
		display: none;
	}
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;	
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg); 
}
.rhomb-icon i{
	transform: rotate(-45deg);
	width: 100%;
}

.rhomb-icon.black-icon{
	background-color: #111;
	color: #fff;
}
.rhomb-icon.white-icon{
	color: #111;
	background: #fff;	
}
.rhomb-icon.transparent-icon{
	color: #111;
	border: 1px solid #2f2f2f;
}
.arrow-up{
	color: #c6c6c6;
	font-size: 50px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
/* ===== Default component end ===== */
/* ===== Guidle styles start ===== */
.guide-section form .form-control{
	margin-bottom: 10px;
}
/* ===== Guidle styles end ===== */
/* ===== Custom styles start ===== */
h1.first-screen{
	font-style: 30px;
	color: rgba(255, 255, 255, .9);
	letter-spacing: 1.7em;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}
h6.first-screen{
	margin-top: 100px;
	font-size: 19px;
	color: rgba(255, 255, 255, .68);
}
/* ----- Inner ----- */
.inner{
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	text-align: center;
	padding-top: 73px;
	position: relative;
}
.inner::before{
	content: '';
	display: inline-block;
	height:100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner .inner-content{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.inner .inner-content h1{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
}
.inner .inner-content span{
	font-size: 19px;
	display: block;
	margin-top: 100px;
	opacity: 0.68;

}
.inner .inner-content .icon-start{
	position: absolute;
	bottom: 36px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	animation: jump 3s ease-in-out infinite;
}
.inner .inner-content .icon-start .rhomb-icon .fa{
	color: #222;
    font-size: 15px;
    margin-top: 9.2px;
    margin-left: 5px;
}
@keyframes jump{
	50%{bottom: 60px}
	100%{bottom: 36px}
}
@media(max-width: 991px){
	.inner .inner-content h1{
		letter-spacing: .7em;
		text-indent: .7em;
	}
	.inner .inner-content span{
		margin-top: 50px;
	}	
}
@media(max-width: 767px){
	.inner{
		height: auto;
		padding: 150px 0;
	}
}
@media(max-width: 576px){
	.inner .inner-content h1 {
		letter-spacing: .3em;
		text-indent: .3em;
		font-size: 20px;
	}
	.inner .inner-content span{
		margin-top: 28px;
		font-size: 11px;
	}
}
/* ----- Inner end */

/* ----- About studio ----- */
.about-studio{
	border-bottom: 1px solid rgba(0,0,0,.08);
}
.about-studio p.col-text{
	line-height: 1.7333;
}
.team-wrapper{
	margin-top: 100px;
}
.team-item .team-item-info{
	text-align: center;
	padding: 15px 0;
}
.team-item .team-item-info span{
	display: block;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.4em;
	font-weight: 400;
}
.team-item .team-item-info span + span{
	margin-top: 15px;
}
.team-item .team-item-info span.team-item-name{
	font-size: 15px;
}
.team-item .team-item-info span.team-item-role{
	font-size: 12px;
}
.team-item .team-item-img{
	position: relative;
}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.skill-item span{
	font-size: 11px;
	color: #fff;
}
.team-item .team-item-skills{
	opacity: 0;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
	padding: 40px;
}
.team-item .team-item-skills::before{	
	content: 'Skills';
	display: block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: 18px;
	line-height: 2.1111;
}
.team-item .team-item-skills p{
	margin: 15px 0 30px;
	font-size: 13px;
	color: rgba(255,255,255,.50);
	line-height: 1.6;
}

.skill-item span{
	font-size: 11px;
	text-transform: uppercase;
	color: rgba(255,255,255,.9);
	line-height: 3.4545;
	letter-spacing: 0.2em;
	font-weight: 400;
}
.progress-wrapper{
	width: 100%;
	height: 12px;
	background-color: rgba(255,255,255,.15);
}
.progress-wrapper .progress{
	background-color: rgba(255,255,255,.75);
	height: 100%;
	transition: width .5s ease-out;
	width: 0%;
}
@media (max-width: 1200px){
	.team-item .team-item-skills{
		padding: 25px;
	}
	.team-item .team-item-skills p{
		margin: 10px 0;
	}
}
@media(max-width: 991px){

	.team-item .team-item-skills{
		padding: 15px;
	}
	.team-item .team-item-skills::before{
		font-size: 15px;
		line-height: 1;
	}
	
	.team-item .team-item-skills .skill-item span{
		font-size: 10px;
		line-height: 2;
	}

	.team-item .team-item-skills .team-item .team-item-info span{
		letter-spacing: 0.3em;
	}
}
@media(max-width: 767px){
	.about-studio .container .row .col + .col{
		margin-top: 25px;
	}
	.team-wrapper{
		margin-top: 50px;
	}
	.team-wrapper .team-item-img{
		text-align: center;
	}
	.team-item .team-item-skills::before{
		font-size: 20px;
    	line-height: 2.1111;
	}
	.team-item .team-item-skills{
		padding: 100px;
		text-align: left;
	}
	.team-item .team-item-skills p{
		margin: 40px 0;
		font-size: 15px;
	}
	.team-item .team-item-skills .skill-item span{
		font-size: 14px;
		line-height: 3.4545;
	}	
	.team-item .team-item-info{
		padding: 5px 0;
	}
	.team-item .team-item-info span + span{
		margin-top: 10px;
	}
}
@media(max-width: 576px){
	.about-studio .container .row .col + .col{
		margin-top: 25px;
	}
	.team-wrapper{
		margin-top: 25px;
	}
	.team-item .team-item-skills::before{
		font-size: 14px;
	}
	.team-item .team-item-skills{
		padding: 50px 10px;
	}
	.team-item .team-item-skills p{
		margin: 25px 0;
		font-size: 14px;
	}

	.team-item .team-item-skills .skill-item{
		transform: rotate(-90deg) translateX(50%);
		width: 50vw;
		height: 20%;
		position: absolute;
		bottom: -25px;
	}
	.team-item .team-item-skills div.skill-item:nth-of-type(1){
		left: 0;
	}
	.team-item .team-item-skills div.skill-item:nth-of-type(2){
		left: 20%;
	}
	.team-item .team-item-skills div.skill-item:nth-of-type(3){
		left: 40%;
	}
	.team-item .team-item-skills div.skill-item:nth-of-type(4){
		left: 60%;
	}
	 .team-item .team-item-skills .skill-item span{
		font-size: 12px;
		line-height: 2;
	} 
}
/* ----- About studio end ----- */

/* ----- Services ----- */
#tabs .tabs-nav{
	overflow: hidden;
	padding: 35px 0;
	margin-bottom: 35px;
}
#tabs p.col-text{
	line-height: 1.73333;
}
#tabs .tabs-nav li{
	float: left;
	text-align: center;
	width: 20%;
	color: #111;
	opacity: .5;
	transition: opacity .3s linear;
}
#tabs .tabs-nav li:hover{
	opacity: 1;	
}
#tabs .tabs-nav li.ui-state-active{
	opacity: 1;
}
#tabs .tabs-nav li span{
	display: block;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
#tabs .tabs-nav li span.icon{
	font-size: 48px;
}
#tabs .tabs-nav li span + span{
	margin-top: 35px;
}
#tabs div{
	transition: display .2s linear;
}
@media(max-width: 991px){
	#tabs .tabs-nav{
		margin-bottom: 10px;
	}
	#tabs .tabs-nav li span{
		font-size: 13px;
	}
	#tabs .tabs-nav li span + span{
		margin-top: 15px;
	}	
}
@media(max-width: 767px){
	#tabs .tabs-nav li{
		width: 33.333%
	}
	#tabs .tabs-nav li:nth-child(1n+4){
		margin-top: 20px;
	}
	#tabs .ui-tabs-panel .row .col + .col{
		margin-top: 30px;
	}
	
}
@media(max-width: 576px){
	#tabs .tabs-nav li{
		width: 50%;
	}
	#tabs .tabs-nav li:nth-child(1n+3){
		margin-top: 20px;
	}
	#tabs .ui-tabs-panel .row .col + .col{
		margin-top: 30px;
	}
	#tabs .tabs-nav li span.icon{
		font-size: 36px;
		
	}
	#tabs .tabs-nav li span{
		font-size: 10px;
	}
	#tabs .tabs-nav li span + span{
		margin-top: 10px;
	}
	
}
/* ----- Services end ----- */

/* ----- Lets talk ----- */
.lets-talk-content{
	padding: 140px 0;
}
.lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img{
	margin-top: -32px;
}
@media(max-width: 991px){
	.lets-talk-content{
		text-align: center;
		padding: 70px 0;
	}
}
/* ----- Lets talk end ----- */

/* ----- Portfolio ----- */
.portfolio .container{
	max-width: 754px;
	text-align: center;
}
.portfolio .container p{
	padding: 5px 0;
}
#tabs-portfolio{
	padding-bottom: 8px;
	text-align: center;
	overflow: hidden;
}
#tabs-portfolio .tabs-nav{
	overflow: hidden;
	padding: 35px 0;
	margin-top: 40px;
	display: inline-block;
}
#tabs-portfolio .tabs-nav li{
	float: left;
	text-align: center;	
	color: #111;
	opacity: .5;
	transition: opacity .3s linear;
	font-family: 'Dosis', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .4em;
	transition: opacity .3s linear;
}
#tabs-portfolio .tabs-nav li:hover{
	opacity: 1;
}
#tabs-portfolio .tabs-nav li.ui-state-active{
	opacity: 1;
}
#tabs-portfolio .tabs-nav li + li{
	margin-left: 67px;
}
#tabs-portfolio .tab-content-full-width{
	margin: 15px -4px 0 -4px;	
}
#tabs-portfolio .tab-content-full-width .portfolio-item{
	width: 33.33333333%;
	float: left;
	filter: grayscale(100%);
	transition: filter .2s linear;
	padding: 0px 4px;
}
#tabs-portfolio .tab-content-full-width .portfolio-item:hover{
	filter: grayscale(0%);
}
#tabs-portfolio .tab-content-full-width .portfolio-item img{
	width: 100%;
}
@media(max-width: 991px){
	#tabs-portfolio .tab-content-full-width .portfolio-item{
		width: 50%;
	}
}
@media(max-width: 767px){
	#tabs-portfolio .tabs-nav {
		margin: 0;
		padding: 25px 0;
	}
	#tabs-portfolio .tabs-nav li{
		width: 100%;
	}
	#tabs-portfolio .tabs-nav li + li{
		margin-left: 0;	
		margin-top: 10px;
	}
	#tabs-portfolio .tab-content-full-width .portfolio-item{
		width: 100%;
	}
}

/* ----- Portfolio end ----- */
/* ----- Why choose us ----- */
.why-choose-us .title.title-section{
	font-size: 18px;
	letter-spacing: 0.5em;
	margin-bottom: 3px;
}
.advantages-wrapper{
	padding: 7px 0;
}
.advantages-wrapper .row{
	margin-top: 86px;
}
.advantage-item span{
	display: block;
	text-align: center;
	margin-bottom: 35px;
}
.advantage-item span.advantage-icon{
	font-size: 48px;
}
.advantage-item span.advantage-title{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-weight: 400;
	font-family: 'Dosis';
}
.advantage-item .advantage-description{
	line-height: 1.85714;
	font-size: 14px;
}
@media(max-width: 991px){
	.advantages-wrapper{
		text-align: center;
	}
	.advantages-wrapper .row .col + .col{
		margin-top: 20px;
	}
	.advantages-wrapper .row + .row{
		margin-top: 20px;
	}
}
/* ----- Why choose us end ----- */
/* ----- Review carousel ----- */
.reviews-carousel{
	padding: 135px 0;
	overflow: hidden;
}
.slide-content .icon{
	font-size: 31px;
	color: #fff;
}
.slide-content .title{
	margin-top: 22px;
}
.slide-content .slide-text{
	font-size: 18px;
	line-height: 1.6666;
	padding: 22px 0;
	color: #fff;
}
.slide-content .review-author{
	letter-spacing: 0.2em;
	font-size: 11px;
	line-height: 3.4545;
	color: rgba(255,255,255,.3);
	text-transform: uppercase;
	font-weight: 400;
}
.slick-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li{
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: rgba(255,255,255,.8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li + li{
	margin-left: 5px;
}
.slick-dots li.slick-active{
	background-color: #000;
	border: 1px solid rgba(255,255,255,.8);
}
.slick-dots li button{
	display: none;
}
.slick-arrow{
	position: absolute;
	height: 100%;
	top: 0;
	width: 90px;
	cursor: pointer;
}
.slick-arrow .carousel-button{
	width: 63px;
	height: 63px;
	background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
	top: 50%;
	margin-left: -32px;
	margin-top: -31px;
}
.slick-arrow.slick-prev{
	left:0;
	z-index: 2;
}
.slick-arrow.slick-next{
	right:0;
}
.slick-arrow.slick-next .carousel-button{
	right: 0;
	margin-right: -31px;
}
.slick-arrow .carousel-button .fa{
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa{
	bottom: 14px;
	right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa{
    top: 14px;
    left: 17px;
}
@media(max-width: 991px){
	.slide-content .slide-text{
		padding-left: 35px;
		padding-right: 35px; 
	}
	.reviews-carousel{
		padding: 75px 0;
	}
}

@media(max-width: 767px){
	.slide-content .slide-text{
		font-size: 15px;
	}
	.reviews-carousel{
		padding: 50px 0;
	}
}

/* ----- Review carousel end ----- */
/* ----- Latest news ----- */
.latest-news .latest-news-title{
	width: 100%;
	position: relative;	
} 

.latest-news .latest-news-title .blog-link{
	position: absolute;
	right: 0;
	font-size: 11px;
	color: #999;
	letter-spacing: .4em;	
	line-height: 18px;
}
.latest-news .latest-news-title .blog-link i.fa{
	font-size: 11px;
}
.latest-news-wrapper{
	padding: 6px 0;
}
.latest-news-item{
	padding: 15px 0;
}
.latest-news-item .latest-news-description{
	margin-top: 30px;
}
.latest-news-item .latest-news-img{
	filter: grayscale(100%);
	transition: filter .2s linear;
}
.latest-news-item:hover .latest-news-img{
	filter: grayscale(0%);
}

.latest-news-item .latest-news-description .post-title{
	font-weight: 400;
	letter-spacing: .2em;
}
.latest-news-item .latest-news-description .post-author{
	font-size: 11px;
	letter-spacing: 0.4em;
	font-weight: 400;
	color: #999;
	margin-top: 17px; 
}
.latest-news-item .latest-news-description .post-short-text{
	line-height: 1.733;
	margin: 27px 0; 
}
.latest-news-item .latest-news-description .btn-news-read-nore{
	font-size: 11px;
	line-height: 2.3636;
}
.latest-news-item .latest-news-description .btn-news-read-nore .fa{
	font-size: 10px; 
	color: #919191;
	margin-left: 2px;
}
@media(max-width: 991px){
	.latest-news-item .latest-news-img img{
		width: 100%;
	}
	.latest-news-wrapper .col + .col{
		padding-top: 15px;
	}
	.latest-news-wrapper .col{
		border-top: 2px solid #111; 
	}
}
@media(max-width: 576px){
	.latest-news .latest-news-title .blog-link{
		display: block;
		margin-top: 10px;
	}
}
/* ----- Latest news end ----- */
/* ----- Subscribe ----- */
.subscribe form .form-control{
	max-width: 290px;
}
.subscribe .form-info{
	margin-top: 17px;
}
.form-info span i{
	margin-right: 3px;
}
@media(max-width: 576px){
	.subscribe .title{
		font-size: 19px;
		line-height: 2;
		letter-spacing: .2em;
	}
	.subscribe form .form-control{		
		max-width: unset;
	}
	.subscribe form .btn{
		margin-top: 10px;
		width: 100%;
	}
}
/* ----- Subscribe end ----- */
/* ----- Contact ----- */
.contact-items-wraqpper{
	margin-bottom: 80px;
}
.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.contact-item .contact-item-content span{
	display: block;
}
.contact-item .contact-item-content span.contact-title{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.3em;
	font-family: 'Dosis';
}
.contact-item .contact-item-content span.contact-data{
	line-height: 1.6;
	color: #444;
}
.contact-form .form-row{ 
	margin: 0 -5px;
	overflow: hidden;
}
.contact-form .form-row .form-col{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.contact-form .form-control + .form-control{
	margin-top: 10px;
}
.contact-form .form-info{
	line-height: 40px;
}

.contact-form .form-submit{
	overflow: hidden;
	margin-top: 20px;
}
@media(max-width:1200px){
	.contact-items-wraqpper .contact-item .contact-item-content{
		margin-left: 5px;
	}
	.contact-items-wraqpper .contact-item .contact-item-content .contact-data{
		font-size: 14px;
	}
}
@media(max-width: 767px){
	.contact-items-wraqpper{
		margin-bottom: 40px;
	}
	.contact-items-wraqpper .row .col{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 50px;
	}
	.contact-items-wraqpper .contact-item .rhomb-icon + .contact-item-content{
		margin-left: 20px;
	}
	.contact-form .form-row .form-col{
		width: 100%;
	}
	.contact-form .form-row .form-col + .form-col{
		margin-top: 10px;
	}
	.contact-form .form-submit{
		margin-top: 0px;
	}
	.contact-form .form-submit .form-info,
	.contact-form .form-submit button{
		width: 100%;
		float: none;
	}
}
/* ----- Contact end */
/* ----- Map ----- */
.map-container{
	position: relative;
}
.on-map-block{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.90);
	top: 0;
	left: 0;
	transition: all .2s linear;
}
.on-map-block.minimized{
	height: 50px;
    bottom: 0;
    position: absolute;
    top: calc(100% - 50px);
}
.on-map-block.minimized .on-map-block-content{
	width: 100%;
}
.on-map-block.minimized .on-map-block-content .rhomb-icon{
	display: none;
}
.on-map-block .on-map-block-content{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.on-map-block .on-map-block-content span{
	display: block;
	text-transform: uppercase;
	font-family: 'Dosis';
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.3em;
	font-weight: 400;
	margin-top: 28px;
	cursor: pointer;
}
.on-map-block .on-map-block-content span i{
	margin-left: 3px;
}
.on-map-block .on-map-block-content span[data-act="hide"]{
	display: none;
}
.on-map-block.minimized .on-map-block-content span[data-act="show"]{
	display: none;
}
.on-map-block.minimized .on-map-block-content span[data-act="hide"]{
	display: block;
	opacity: 1;
	width:100%;
	margin: 0 auto;
	line-height: 50px;
}

#map{
	height: 410px;
}
/* ----- Map end ----- */
/* ----- Footer ----- */
.footer{
	background-color: #f8f8f8;
	padding-top: 140px;
	padding-bottom: 55px;
}
.footer .socials-wrapper{
	margin-top: 25px;
	margin-bottom: 105px;
}
.footer .socials-wrapper .rhomb-icon + .rhomb-icon{
	margin-left: 18px;
}
.footer .copyright-wrapper span{
	display: block;	
}
.footer .copyright-wrapper span.copyright-brand{
	font-family: 'Dosis';
	font-weight: 400;
	letter-spacing: .5em;
	font-size: 12px;
	line-height: 2;
	color: #111;
	text-transform: uppercase;
}
.footer .copyright-wrapper span.copyright-ps{
	font-size: 11px;
	color: #999;
	line-height: 2.1818;
}
.footer-logo img{
	max-width: 78px;
}
@media(max-width){
	.footer{
		padding: 35px 0;
	}
}
/* ----- Footer end */
/* ===== Custom styles end ===== */